/* ----------  Container  ---------- */
.container {
  width: 600px;
  margin: 40px auto;
}

/* ---------- Paragraphs  ---------- */
/* .paragraph {
  font-size: 1rem;
  line-height: 1.6;
  margin: 3rem 0;    
  text-align: left;
} */

/* ----------   Larger first letter   ---------- */
.paragraph::first-letter {
  font-size: 40px;
  line-height: .75;
}
